@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding:0;
  margin:0;
}

body{
  background-color: #111;
  font-family: "Coolvetica", "Afacad Flux", "Roboto";
}

.sub span{
  display:inline-block
}