@tailwind base;
@tailwind components;
@tailwind utilities;

@fontface {
  font-family: "CoolveticaLight";
  src: url("/Coolvetica Hv Comp.otf") format('otf');
  font-weight:extralight;
  font-style:normal;
}

*{
  padding:0;
  margin:0;
}

body{
  background-color: #111;
  font-family:"Coolvetica";
}

.sub span{
  display:inline-block
}