@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    @apply appearance-none;
  }

  .no-spinner {
    -moz-appearance: textfield; /* Firefox */
  }
}

*{
  padding:0;
  margin:0;
}

body{
  background-color: #111;
  font-family: "Afacad Flux";
}

.sub span{
  display:inline-block
}

::-webkit-scrollbar {
  width:1.5rem;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #449682;
  border-radius: 100vw;
  border: solid #111 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #DF484C;
  border-radius: 100vw;
  border: solid #111 8px;
}

.circle{
  height:24px;
  width:24px;
  border-radius:24px;
  background-color: #449682;
  position:absolute;
  left:0;
  top:0;
  z-index:1000000;
  pointer-events:none;
}